{% extends 'base.html' %}

{% block content %}

<script>
    document.addEventListener("alpine:init", () => {
        Alpine.store("main", {
          teams: [],
          addTeam(team) {
            var addable = this.teams.filter(function (value, index, self) {
                return value.id === team.id
            }).length == 0;
            if(addable){
                this.teams.push(team);
            }
          },
        });

    });
</script>

<div class="bg-white shadow  m-4">
    <form hx-post="/teams/create">
        <div class="grid grid-rows-1 grid-flow-col gap-4 mt-2">
            <div><label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">
                SCHEDULE NAME</label>
                <input type="text" id="name"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                       required>
            </div>
            <div x-data>
                <label for="team" class="block mb-2 text-sm font-medium text-gray-900 ">
                    TEAMS</label>
                <div>
                    <template x-for="team, index in $store.main.teams">
                        <div>
                            <h2 x-text="team.name"></h2>
                            <input type="hidden" name="team" x-bind:value="team.id"/>
                        </div>
                    </template>
                </div>
                <input type="search" id="team"
                       name="q"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                       hx-post="/teams/search"
                       hx-trigger="input changed delay:500ms, search"
                       hx-target="#team-search-results"
                       hx-indicator=".htmx-indicator"/>
                <div id="team-search-results"></div>
            </div>
            <div>
                <label for="timezone" class="block mb-2 text-sm font-medium text-gray-900 ">
                    TIMEZONE</label>
                <select name="timezone">
                    {% for zoneid in zoneid_list -%}
                    <option value="{{zoneid}}">{{zoneid}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="grid grid-rows-1 grid-flow-col gap-4 mt-2">
            <div>
                <label for="description"
                        class="block mb-2 text-sm font-medium text-gray-900 ">DESCRIPTION(OPTIONAL)</label>
                <textarea dirname="description" id="description" name="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50
            rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"></textarea>
            </div>
        </div>
        <div class="grid grid-rows-1 grid-flow-col gap-4 mt-2">
            <div>
                <label for="layername" class="block mb-2 text-sm font-medium text-gray-900 ">
                    LAYER NAME</label>
                <input type="text" id="layername"
                       name="layerName"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                       required>
            </div>
        </div>
        <div class="grid grid-rows-1 grid-flow-col gap-4 ">
            <div>
                <div>Step 1: Add Users</div>
                <div>
                    <select id="countries"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                        <option selected>Choose a country</option>
                        <option value="US">United States</option>
                        <option value="CA">Canada</option>
                        <option value="FR">France</option>
                        <option value="DE">Germany</option>
                    </select>
                </div>
            </div>
            <div x-data="{rotationType:''}">
                <div>Step 2: Set up an On-call rotation</div>
                <div>
                    <label for="rotationTypeSelect" class="block mb-2 text-sm font-medium text-gray-900 ">ROTATION
                        TYPE</label>
                    <select id="rotationTypeSelect"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            x-model="rotationType"
                    >
                        <option value="weekly" >Weekly</option>
                        <option value="daily">Daily</option>
                    </select>
                </div>
<!--                <div>-->
<!--                    <label for="" class="block mb-2 text-sm font-medium text-gray-900">SHIFT LENGTH</label>-->
<!--                </div>-->
                <div x-show="rotationType == 'daily'">
                    <label for="" class="block mb-2 text-sm font-medium text-gray-900">HANDOFF TIME</label>
                    <input type="text">
                </div>
                <div x-show="rotationType == 'weekly'">
                    <label for="" class="block mb-2 text-sm font-medium text-gray-900">HANDOFF TIME</label>
                    <input type="text" placeholder="weekly">
                </div>
                <div x-show="rotationType == 'custom'">
                    <label for="" class="block mb-2 text-sm font-medium text-gray-900">HANDOFF TIME</label>
                    <input type="text" placeholder="custom">
                </div>
                <div>
                    <input id="default-checkbox" type="checkbox" value=""
                           class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Restrict
                        on-call shifts to specific times</label>
                </div>
                <div>
                    <button type="button" class="text-gray-900 bg-white border
                border-gray-300 focus:outline-none hover:bg-gray-100
                focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-2.5
                me-1 mb-1 ">Add Restrictions
                    </button>
                </div>
            </div>
            <div>
                <div>Step 3: Start time for this layer</div>
                <div>
                    <input name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Start date">
                </div>
            </div>
        </div>
        <div class="flex">
            <div>
                <button type="button"
                        class="text-gray-900 bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 me-2 mb-2">
                    Add a new layer
                </button>
            </div>
        </div>
        <div>
            <div>
                <button>today</button>
                <select>
                    <option>2 Weeks</option>
                </select>
            </div>
            <div>Configuration Layers</div>
            <div>Final Schedule</div>
        </div>
        <div class="flex flex-row-reverse">
            <div>
                <button>Cancel</button>
                <button>Save Schedule</button>
            </div>
        </div>
    </form>

</div>



{% endblock content %}
